html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4164c;
    background-color: #e3e7f8;
    padding: 8px 32px;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav>ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

nav>ul>li>a {
    color: #c4164c;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.carousel {
    width: 100%;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* optional */
    scrollbar-width: none;
    /* Firefox */
}

.carousel-container::-webkit-scrollbar {
    display: none;
    /* Chrome */
}

.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    background: rgb(168, 165, 165, 70%);
}

.carousel-item h2 {
    position: relative;
    z-index: 2;
    color: white;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000070;
    z-index: 1;
}

.carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-section {
    display: flex;
    flex-direction: column;
    padding: 64px;
    gap: 16px
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 700px;
    position: relative;
}

.card-content {
    padding: 16px;
    font-size: 14px;
}

footer {
    background-color: #c4164c;
    display: flex;
    justify-content: center;
    color: white;
    padding: 16px;
    font-size: 14px;
}

.layout-card1 {
    display: flex;
    justify-content: start;
}
.layout-card2 {
    display: flex;
    justify-content: end;
}